<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Szczegóły</title>
</head>

<body>
    <header>
        <div class=title>Szczegóły</div>
        <div class=menu-item><a href=index.html class="menu-button">Wyloguj</a></div>
    </header>
    <div class=content style="display: grid;">
        <table style="grid-row: 1;">
            <tr><th>Front</th><td>{{.Front}}</td></tr>
            <tr><th>Tył</th><td>{{.Back}}</td></tr>
            <tr><th>Aktywna</th><td>{{.Active}}</td></tr>
        </table>
        <a style="grid-row:2;margin: auto;margin-top:2em;" href=landing class=red-button>Powrót</a>
    </div>
    <footer>
        <div>Zasady użytkowania</div>
    </footer>
</body>

</html>
