<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Strona główna</title>
</head>

<body>
    <header>
        <div class=title>Strona główna</div>
        <div class=menu-item><a href=register class="menu-button">Rejestracja</a></div>
        <div class=menu-item><a href=login class="menu-button">Logowanie</a></div>
    </header>
    <div class=content>
        <div class="content-item grid-row-1">Niesamowite efekty już po 11 minutach nauki.<img src=static/img/clock.png></div>
        <div class="content-item grid-row-2"><img src=static/img/studying.png>Gwarancja satysfakcji albo zwrot pieniędzy.</div>
        <div class="content-item grid-row-3"><a class=red-button-big href=viewcards>Przeglądaj karty</a></div>
    </div>
    <footer>
        <div>Zasady użytkowania</div>
    </footer>
</body>
</html>
