<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <script src=static/js/validation.js></script>
    <title>Rejestracja</title>
</head>

<body>
    <header>
        <div class=title>Rejestracja</div>
        <div class=menu-item><a href=register class="menu-button">Rejestracja</a></div>
        <div class=menu-item><a href=login class="menu-button">Logowanie</a></div>
    </header>
    <div class=content>
        <div class="content-item grid-row-1"><h2>Zacznij już dzisiaj</h2></div>
        <div class="content-item grid-row-2">
                <form class=grid-container action=login-landing.html method=post onsubmit="return validateForm(this)">
                <label for=email style="grid-row: 1; grid-column: 1;line-height: 1.8em;">Email</label>
                <input class="validate form-required form-email text-input" name=email style="grid-row: 1; grid-column: 2;" type=text oninput="validate(this)">
                <span class='error-message' style="grid-row: 1; grid-column: 3;"></span>

                <label for=username style="grid-row: 2; grid-column: 1;line-height: 1.8em;">Username</label>
                <input class="validate form-required text-input" name=username style="grid-row: 2; grid-column: 2;" type=text oninput="validate(this)">
                <span class='error-message' style="grid-row: 2; grid-column: 3;"></span>

                <label for=password style="grid-row: 3; grid-column: 1;line-height: 1.8em;">Hasło</label>
                <input id=password-input-1 class="validate form-required form-password form-password-match text-input" name=password style="grid-row: 3; grid-column: 2;" type=password oninput="validate(this);validate(document.getElementById('password-input-2'))">
                <span class='error-message' style="grid-row: 3; grid-column: 3;"></span>

                <label for=confirm-password style="grid-row: 4; grid-column: 1;line-height: 1.8em;">Potwierdź hasło</label>
                <input id=password-input-2 class="validate form-required form-password form-password-match text-input" name=confirm-password style="grid-row: 4; grid-column: 2;" type=password oninput="validate(this);validate(document.getElementById('password-input-1'))">
                <span class='error-message' style="grid-row: 4; grid-column: 3;"></span>

                <input class=submit-button type="submit" style="grid-row:5; grid-column: 2;" value=Rejestruj>
                <span id='error-box' style="grid-row:6; grid-column: 2;"></span>
                </form>
        </div>
    </div>
    <footer>
        <div>Zasady użytkowania</div>
    </footer>
</body>
</html>
